<!DOCTYPE html>
<html>
<head>
  <title> Log In </title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body class="login">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><p class="navbartitle">DabaBrain</p></a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/brain-anatomy">Brain mapping</a></li>
      <li ><a href="/neurotransmitters">Neurotransmitters</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="/question"> <b>Q&A</b></a></li>
      <li class="active"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>

    </ul>
  </div>
</nav>






<script type="text/javascript">
  function dont_have_account(){
        document.getElementById('signup').style.display = "block";
        document.getElementById('login').style.display = "none";
    }

    function have_account(){
        document.getElementById('login').style.display = "block";
        document.getElementById('signup').style.display = "none";
    }


</script>



<div id="signup" style="display: none;">
<div class="signupform">
<h2 class="indent"><center><b> Sign Up </b></center></h2>
<form method='POST' action="{{ url_for('signup')}}">
  <h4> Name: </h4>
  <input class="in2" type="text" name="name" value="">
  <h4> Degree: </h4>
  <input class="in2" type="text" name="degree" value="">
  <h4> Username: </h4>
  <input class="in2" type="text" name="username" value="">
  <h4> Password: </h4>
  <input class="in2" type="password" name="pwd" value="">
  <input class="btn" type="submit" value="Create an account">
</form>
</div>

<div>
<form>
  <button type="submit" class="button2" style="vertical-align:middle;"><span>Already have an account?</span></button>
</form>
</div>

</div>


<div id="login">

  <div class="loginform">
  <form method='POST' action=" {{ url_for('login') }}">
    <input class="in" type="text" name="username" placeholder="Username">
    <input class="in" type="password" name="pwd" placeholder="Password">
    <input class="btn" type="submit" value="Log in">
  </form>
  </div>


  <button type="submit" class="button" style="vertical-align:middle; display: block;" onclick="dont_have_account()"><span>Don't have an account?</span></button>

</div>


</body>
</html>